@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    @Styles.Render("~/guriddo/css/trirand/ui.jqgrid-bootstrap.css")
    @Styles.Render("~/jqwidgets/styles/jqx.base.css")
    @Styles.Render("~/jqwidgets/styles/jqx.energyblue.css")
    <script src="dist/jquery.js"></script>
    <script src="dist/jquery-ui.js"></script>
    <script src="/jqwidgets/jqx-all.js"></script>
    <script src="/jqwidgets/globalization/globalize.js"></script>
    @Styles.Render("~/Content/jquery-ui.css")


</head>
<body onload="InitModuleTree();">

    <script>
        var vueApp;
        function InitTree(treeRef) {
            treeRef.jstree({
                'core': {
                    "check_callback": true,
                    'data': {
                        'multiple': false,
                        "url": "/WVIB/ModuleTree",
                        "dataType": "json",
                        "data": function (node) {
                            return { "id": node.id };
                        }
                    }
                },
                'plugins': ["state", "contextmenu"]
            });

            treeRef.on("changed.jstree", function (e, data) {
                if (data.selected.length) {
                    selected = data.instance.get_node(data.selected[0]);
                    $("#nodeIdDisplay").val(data.selected[0]);//id текущего узла
                    if (selected.data && (selected.data.src || selected.data.html)) {
                        vueApp.SetPicture(selected.data.src);
                    }
                    else {
                        vueApp.SetPicture("linear-gradient(white, gray)", true);
                    }
                    var buttonsJson = GetButtons(selected.id);
                    vueApp.SetButtons(JSON.parse(buttonsJson));
                    var textsJson = GetNotes(selected.id);
                    vueApp.SetTexts(JSON.parse(textsJson));
                }
            });

        }

    </script>
    <script src="~/dist/wib_layout.js"></script>

    <script>
        function InitModuleTree() {
            $('#jqxLayout').jqxLayout({ width: $(document).width(), height: $(document).outerHeight(true), layout: layout });
            vueApp = $('#frame-html').wibPage();
            vueApp.treeCallback = selectNode;
            $('#window').jqxWindow({
                autoOpen: false, width: 500, position: 'bottom, center', height: 400, maxWidth: 800,
                resizable: true, isModal: true,
                okButton: $('#ok'), cancelButton: $('#cancel'),
                initContent: function () {
                    $('#editor').jqxEditor({
                        height: "90%",
                        width: '100%'
                    });
                    $('#editor').val("");
                    $('#ok').jqxButton({
                        width: '65px',
                        theme: 'energyblue'
                    });
                    $('#cancel').jqxButton({
                        width: '65px',
                        theme: 'energyblue'
                    });
                    $('#ok').focus();
                }
            });
            $('#window').on('close', function (event) {
                if (event.args.dialogResult.OK) {
                    var txt = $('#editor').val();
                    vueApp.SetText(txt);
                }
            });
            $(document).click(function (e) {
                    $('#cmenu').hide();
            });
            $(document).keydown(function (e) {
                    $('#cmenu').hide();
                //app.ProcessKey(e.key, e.altKey, e.ctrlKey, e.shiftKey)
            });

        window.addEventListener("paste", function (e) {
            if (e.clipboardData) {
                var items = e.clipboardData.items;
                if (items) {
                    for (var i = 0; i < items.length; i++) {
                        if (items[i].type.indexOf("text") !== -1) {
                            items[i].getAsString(function (s) {
                                pasteCatcher.innerHTML = s;
                            });
                            pasteCatcher.style.display = "block";
                        }
                        else if (items[i].type.indexOf("image") !== -1) {
                            var blob = items[i].getAsFile();
                            var URLObj = window.URL || window.webkitURL;
                            var source = URLObj.createObjectURL(blob);
                            var formDataFile = new FormData();
                            var longPath = window.location.href;
                            var shortPath = longPath.replace(new RegExp('/WVIB', 'g'), '');
                            formDataFile.append('fileUpload', blob, source.replace(new RegExp(shortPath, 'g'), '').substring(6) + '.png');
                            //formDataFile.append('entityId', 11);
                            xhr = new XMLHttpRequest();
                            xhr.open('POST', '/WVIB/UploadFile', false);
                            xhr.send(formDataFile);
                            source = xhr.responseText;
                            vueApp.SetPicture(source);

                            var dataObj = new Object();
                            dataObj.src = source;
                            var body = new Object();
                            body.nodeId = GetSelectedNodeId();
                            body.nodeData = JSON.stringify(dataObj);
                            xhr = new XMLHttpRequest();
                            xhr.open('POST', '/WVIB/SetNodeData', false);
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.send(JSON.stringify(body));

                            pasteCatcher.innerHTML = '';
                        }
                    }
                }
            }
        });
        

        }
        function saveAll() {
            var formSaveFile = new FormData();
            var fileName = prompt('название файла:', 'saved_tree.json');
            if (fileName) {
                formSaveFile.append('fileName', fileName);
                xhr = new XMLHttpRequest();
                xhr.open('POST', '/WVIB/SaveToFile', false);
                xhr.send(formSaveFile);
            }
        }
        function editText(txt) {
            if (!$('#editor').jqxEditor('val'))
                $('#editor').val(txt);
            else
                $('#editor').jqxEditor('val', txt);
            $('#window').jqxWindow('open');
        }
    </script>


    <style>
        .f-form {
            background: #e8e8e8;
            width: 600px;
            height: 100%;
        }
    </style>

    <div style="position:absolute;top:0px;left:0px">
        <div id="jqxLayout">
            <div data-container="ModulesTree">
                <div id="modulesTree" style="border: none;position:absolute;margin-top:30px;">
                </div>
            </div>
            <div data-container="EditPanel">
                <div id="editPanel" style="border: none;position:absolute;margin-top:30px;">
                    <input id="nodeIdDisplay" style="width:60px" />
                    <br>
                    <br>
                    <button onclick="var targetId=GetNewNodeId();vueApp.AddButton(pasteCatcher.innerText, targetId); pasteCatcher.innerHTML = '';">Add F button</button>
                    <br>
                    <br>
                    <button onclick="vueApp.AddButton(pasteCatcher.innerText); pasteCatcher.innerHTML = '';">Add B button</button>
                    <br>
                    <br>
                    <button onclick="vueApp.AddText(pasteCatcher.innerText); pasteCatcher.innerHTML = '';">Add text</button>
                    <br>
                    <br>
                    <button onclick="vueApp.Edit();">Edit</button>
                    <br>
                    <br>
                    <button onclick="vueApp.Post();">Post</button>
                    <br>
                    <br>
                    <button onclick="saveAll();">Save</button>
                    <br>
                    <br>
                    <div id="pasteCatcher" contenteditable style="border: 1px dotted black; width:200px;height:100px;overflow-x:hidden;overflow-y:hidden;"></div>
                    <br>
                    <button onclick="pasteCatcher.innerHTML='';">Clear</button>
                </div>
            </div>

            <div data-container="ModuleFrame">
                <div id="presenter" style="position:absolute;left:0px;top:0px;height:100%;width:100%;overflow-x:scroll;">
                    <div id="frame-html" style="height:100%;width:100%;">
                        @*<div style="position:relative;left:850px;top:75px;"><button onclick="alert('!!')">Обновить</button></div>*@
                    </div>
                </div>
                <div id="loader" style="position:absolute;left:300px;top:60px;width:100%;height:100%;overflow-x:hidden;display:none">
                    <button id="bnSave" onclick='saveImage()' style="display:none">Save</button>
                    <button id="bnClear" onclick='clearImage()' style="display:none">Clear</button>
                    <button id="bnLeft" onclick="imageToLeft()" style="display:none">&lt;</button>
                    <button id="bnRight" onclick="imageToRight()" style="display:none">&gt;</button>
                    <br>
                    <img id="pasted_pict" src="" style="margin-top:0px">
                </div>
                <div id="tools" style="position:fixed;left:80%;top:0">
                    <button onclick="designButtons()">Design</button>
                    <button onclick="editHtml()">Edit</button>
                    <button onclick="addButton()">FB</button>
                    <button onclick="addButton(true)">BB</button>
                    <button onclick="saveAll()">Save all</button>
                </div>
                <div id="designer" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)"
                     style="position:absolute;left:300px;top:60px;overflow-x:hidden;height:100%;width:100%;display:none">
                    <div style="position:absolute;left:0px;top:0px;">
                        <img id="designed_pict" src="/user_resources/lanitadmin/9bbb621f-a17b-4d9c-b850-442334ccfe86.png" style="margin-top:0px;-webkit-filter:contrast(20%) brightness(120%)">
                    </div>
                    <div id="designed_html" style="position:absolute;left:0px;top:0px;">
                        <div id="button1" draggable="true" ondragstart="return dragStart(event)" style="position:absolute;left:1170px;top:425px;-webkit-filter:contrast(120%)"><button onclick="selectNode('10')">Закрыть</button></div>
                    </div>
                </div>
                <div id="recycle_bin" ondragenter="return dragEnter(event)" ondrop="return dragDrop(event)" ondragover="return dragOver(event)"
                     style="position:absolute;left:0px;top:0px;width:20px;height:20px">
                </div>

            </div>
            <div data-container="HelpPanel">
                <div id="helpText" style="position:absolute;left:60px;top:100px; ">
                </div>

            </div>
        </div>

        <div style="position:absolute;top:5px;right:200px">
            <a href="/Home/Index">Home</a>
        </div>
        <div id="window" style="display:none">
            <div>
                jqxEditor
            </div>
            <div>
                <div id="editor"></div>
                <div>
                    <input type="button" id="ok" value="OK" style="margin-right: 10px" />
                    <input type="button" id="cancel" value="Cancel" />
                </div>
            </div>
        </div>
        <div id="cmenu" style="position:absolute;display:none">
            <ul>
                <li><a id="cmitemRename">Переименовать</a></li>
                <li><a id="cmitemChangeTarget">Назначить экран</a></li>
                <li><a id="cmitemDropButton">Удалить</a></li>
            </ul>
        </div>
        <script>
            cmitemRename.href = "javascript: {renameButton($('#cmenu').attr('btn_id'), $('#cmenu').attr('caption'));$('#cmenu').hide();}";
            cmitemChangeTarget.href = "javascript: {setButtonTargetId($('#cmenu').attr('btn_id'));$('#cmenu').hide();}";
            cmitemDropButton.href = "javascript: {dropButton($('#cmenu').attr('btn_id'));$('#cmenu').hide();}";
        </script>
        <div id="cmenutxt" style="position:absolute;display:none">
            <ul>
                <li><a id="cmitemDropText">Удалить</a></li>
            </ul>
        </div>
        <script>
            cmitemDropText.href = "javascript: {dropText($('#cmenutxt').attr('txt_id'));$('#cmenutxt').hide();}";
        </script>


        @section Scripts {
            @Scripts.Render("~/dist/util.js")
            @Scripts.Render("~/dist/vue.js")
            @Scripts.Render("~/dist/jstree.js")
            @Scripts.Render("~/dist/lantree.js")
            @Scripts.Render("~/dist/wib_vues.js")
            @*@Scripts.Render("~/dist/vue_filter.js")
            @Scripts.Render("~/dist/vue_edit.js")
            @Scripts.Render("~/dist/vue_obj.js")*@
            @Scripts.Render("~/jqwidgets/jqxcore.js")
            @Scripts.Render("~/jqwidgets/jqxribbon.js")
            @Scripts.Render("~/jqwidgets/jqxLayout.js")
            @Scripts.Render("~/jqwidgets/jqxdata.js")
            @Scripts.Render("~/jqwidgets/jqxbuttons.js")
            @Scripts.Render("~/jqwidgets/jqxscrollbar.js")
            @Scripts.Render("~/jqwidgets/jqxlistbox.js")
            @Scripts.Render("~/jqwidgets/jqxdropdownlist.js")
            @*@Scripts.Render("~/jqwidgets/jqxgrid.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.pager.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.edit.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.selection.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.columnsresize.js")*@
            @Scripts.Render("~/jqwidgets/jqxmenu.js")
            @*@Scripts.Render("~/scripts/demos.js")*@
            @*@Scripts.Render("~/jqwidgets/jqxgrid.sort.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.filter.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.storage.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.columnsreorder.js")*@
            @Scripts.Render("~/jqwidgets/jqxpanel.js")
            @Scripts.Render("~/jqwidgets/jqxcheckbox.js")
            @Scripts.Render("~/jqwidgets/jqxwindow.js")
            @Scripts.Render("~/jqwidgets/jqxscrollbar.js")
            @Scripts.Render("~/jqwidgets/jqxsplitter.js")
            @Scripts.Render("~/jqwidgets/jqxeditor.js")
            @*@Scripts.Render("~/jqwidgets/jqxtree.js")*@
            @Scripts.Render("~/jqwidgets/jqxtextarea.js")
            @Scripts.Render("~/jqwidgets/jqxdatetimeinput.js")
            @Scripts.Render("~/jqwidgets/jqxcalendar.js")
            @Scripts.Render("~/jqwidgets/jqxtree.js")
            @Scripts.Render("~/jqwidgets/jqxdragdrop.js")
            @Scripts.Render("~/jqwidgets/jqxtooltip.js")
            @*@Scripts.Render("~/jqwidgets/jqxdata.export.js")
            @Scripts.Render("~/jqwidgets/jqxgrid.export.js")
            @Scripts.Render("~/jqwidgets/jqxexport.js")*@

        }

</body>
</html>
